{% extends 'base/base.html' %}
{% block content %}
<div class="home_title">Audio Files</div>
<div class="file_content">
    <div class="my_file">
        <ul>
            {% for file in files %}
            <li>
                <p>{{ file.file_name }}</p>
                <audio controls>
                    <source src="{{ file.audio_file.url }}" type="audio/mp3">
                </audio>
                <br>
                <a href="{{ file.get_absolute_url }}">Edit</a>
                <a href="{{ file.delete_audio }}">Delete</a>
                {% if file.is_published == 0 %}
                    <a href="{{ file.publish_audio }}">Publish</a>
                {% endif%}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
